
<div class="body-index">

  <%- include('../partials/navigation'); %>

  <%- include('../partials/messages'); %>

  <figure class="figure-index">
    <img id="figure-index-img" src="/src/assets/images/lego.jpg" alt="Photo by Markus Spiske on Unsplash">
    <div id="figure-index-text">
      <span>Join a realtime online group meeting,</span>
      <span>have fun with people all around the world.</span>
    </div>
  </figure>

  <main class="main-index">
    <%- include('../partials/mainEvents'); %>
  </main>

  
  <%- include('../partials/sitemap'); %>
  <%- include('../partials/footer'); %>

</div>
