<body>

  <%- include('partials/navigation'); %>

  <form action="/signup" method="post" id="signup-form">
    <div>
      <input 
      type="username" 
      name="username" 
      class="form-control" 
      id="username" 
      placeholder="Enter username"
      value="<%= typeof username != 'undefined' ? username : ''%>"
      >
    </div>

    <div>
      <input 
      type="email" 
      name="email" 
      class="form-control" 
      id="email" 
      placeholder="Enter E-mail"
      value="<%= typeof email != 'undefined' ? email : ''%>"
      >
    </div>

    <div>
      <input 
      type="password" 
      name="password" 
      class="form-control" 
      id="password" 
      placeholder="Enter password"
      value="<%= typeof password != 'undefined' ? password : ''%>"
      >
    </div>

    <div>
      <input 
      type="password" 
      name="password2"
      class="form-control" 
      id="password2" 
      placeholder="Confirm password"
      value="<%= typeof password2 != 'undefined' ? password2 : ''%>"
      >
    </div>

    <div>
      <div id="signup-btn-container">
        <a href="/login"> 
          <button type="button" name="back" value="back" 
          id="back">Back To Login</button>
        </a>
        <button 
        type="submit" 
        >
        Create
      </button>
      </div>
    </div>
  </form>

  <%- include('partials/footer'); %>

</body>