<div class="body-create">
  <%- include('../partials/navigation'); %>

  <figure class="figure-create-bg">
    <div class="figure-create-overtext">
      <span>Create a New Event</span>
    </div>
  </figure>

  <main class="main-create">
    <div class="figure-create-header">
      <span>Create a New Event</span>
    </div>

    <form action="/create" class="form-basic" method="post">
      <div class="form-create-container">
        <label for="create-topic" class="form-label-basic">Choose Topic *</label>
        <select
          class="form-input-basic"
          id="create-topic"
          name="eventTopic"
          required
        >
          <option value="">Select...</option>
          <option value="social">Social</option>
          <option value="health">Health</option>
          <option value="tech">Tech</option>
        </select>
      </div>
      <div class="form-create-container">
        <label for="create-title" class="form-label-basic">Title: *</label>
        <input
          class="form-input-basic"
          type="text"
          id="create-title"
          name="eventName"
          minlength="5"
          placeholder="at least 5 characters"
          required
        />
      </div>
      <div class="form-create-container">
        <label for="create-date" class="form-label-basic">Date: *</label>
        <input
          class="form-input-basic"
          type="date"
          id="create-date"
          name="eventDate"
          required
        />
      </div>
      <div class="form-create-container">
        <label for="create-time" class="form-label-basic">Time: *</label>
        <input
          class="form-input-basic"
          type="time"
          id="create-time"
          name="eventTime"
          required
        />
      </div>
      <div class="form-create-container">
        <label for="create-duration" class="form-label-basic"
          >Session Duration: *</label
        >
        <select
          class="form-input-basic"
          id="create-duration"
          name="eventDuration"
          required
        >
          <option value="">Select...</option>

          <option value="0.5">30 minutes</option>
          <option value="1">1 hour</option>
          <option value="1.5">1 hour 30 minutes</option>
          <% for (let num = 2; num <= 12; num++) { %>
            <option value="<%= num %>"><%= num %> hours</option>
            <option value="<%= num + 0.5 %>"><%= num %> hours 30 minutes</option>
          <% } %>
        </select>
      </div>
      <div class="form-create-container">
        <label for="create-description" class="form-label-basic"
          >Description: *</label
        >
        <textarea
          class="form-textarea-basic"
          rows="5"
          minlength="50"
          style="resize: none;"
          id="event-details"
          name="eventDetails"
          placeholder="at least 50 characters"
          required
        ></textarea>
      </div>
      <span class="required-fields-text">* Required fields</span>
      <input id="create-btn" class="yellow-btn" type="submit" value="Create" />
    </form>
  </main>

  <figure class="figure-create-bg-left"></figure>
  <figure class="figure-create-bg-right"></figure>

  <%- include('../partials/sitemap'); %>
</div>

