<div class="body-details">
  <%- include('../partials/navigation'); %>

  <figure class="figure-details-bg">
    <div class="figure-details-overtext">
      <span><%= events.eventName %></span>
    </div>
  </figure>

  <main class="main-details">
    <div class="figure-details-header">
      <span><%= events.eventName %></span>
    </div>

    <div class="details-container">
      <div class="details-row">
        <img src="<%= events.image %>">
      </div>

      <div class="details-row">
        <span class="details-label">Topic:</span>
        <span class="details-contents"><%= events.eventTopic %></span>
      </div>

      <div class="details-row">
        <span class="details-label">Host:</span>
        <span class="details-contents"><%= events.hostName %></span>
      </div>
      
      <div class="details-row">
        <span class="details-label">Date:</span>
        <span class="details-contents"><%= events.eventDate %>, <%= events.eventTime %></span>
      </div>

      <div class="details-row">
        <span class="details-label">Duration:</span>
        <span class="details-contents"><%= events.duration %> hour(s)</span>
      </div>

      <div class="details-row">
        <span class="details-label">Description:</span>
        <span class="details-contents"><%= events.description %></span>
      </div>


      <% if (!currentUser) { %>
        <button class="details-join-btn" id="<%= events._id %>" name="<%= events._id %>" formmethod="post" formaction="/joinEvent" onclick="joinToJoinedDetail('<%= events.id %>')">Join</button>

      <% } else if (currentUser && (events.hostId != currentUser._id)) { %>
        <% if (currentUser.joinedEvents.includes(events.id)) { %>
          <button class="details-joined-btn">Joined</button>
        <% } else { %>
          <button class="details-join-btn" id="<%= events._id %>" name="<%= events._id %>" formmethod="post" formaction="/joinEvent" onclick="joinToJoinedDetail('<%= events.id %>')">Join</button>
        <% } %>

      <% } %>


    </div>

  </main>

  <figure class="figure-details-bg-left"></figure>
  <figure class="figure-details-bg-right"></figure>

  <%- include('../partials/sitemap'); %>
</div>
<script type='text/javascript' src='https://code.jquery.com/jquery-3.5.0.min.js'></script>
<script src="/src/assets/js/event_controls.js" async></script>


