<div class="body-events">
  <%- include('../partials/navigation'); %>

  <figure class="figure-events-bg">
    <div class="figure-events-overtext">
      <span>My Events</span>
    </div>
  </figure>

  <main class="main-events-container">
    <div class="main-events">
      <div class="figure-events-header">
        <span>My Events</span>
      </div>

      <a class="long-yellow-btn" href="/create">Create a New Event</a>

      <div class="events-blocks">
        <div class="events-header">
          <span>Hosted Events</span>
          <select
            class="events-sort-select"
            id="hosted-events-sort-select"
            name="hosted-events-sort-select"
          >
            <option value selected>Sort</option>
            <option value="date">Date</option>
            <option value="title">Title</option>
          </select>
        </div>

        <div class="events-block hosted-events">
          <% let hostedEmpty = true %>
          <% for (let i = 0; i < events.length; i++) { %>
            <% if (currentUser._id == (events[i].hostId)) { %>
              <% hostedEmpty = false %>
          <div class="events-event-list">
            <img src="<%= events[i].image %>" />
            <div class="events-event-list-text">
              <div>
                <span><%= events[i].eventName %></span>
                <div class="events-event-list-option">
                  <button class="events-event-list-btn">&#8942;</button>
                  <div class="events-event-list-dropdown">
                    <a href="/">Details</a>
                    <a href="/">Edit</a>
                    <a href="/deleteEvent/<%= events[i]._id %>">Delete</a>
                  </div>
                </div>
              </div>
              <p><%= events[i].description %></p>
            </div>
          </div>
          <% }} %>
        </div>

        <!-- show this message if there are no hosted events (TEMPORARY) -->
        <% if(hostedEmpty) { %>
          <div class="myevents-no-events">
            <span>You don't have any hosted events yet.</span>
          </div>
        <% } %>

        <!-- JOINED EVENTS -->
        <div class="events-header">
          <span>Joined Events</span>
          <select
            class="events-sort-select"
            id="joined-events-sort-select"
            name="joined-events-sort-select"
          >
            <option value selected>Sort</option>
            <option value="date">Date</option>
            <option value="title">Title</option>
          </select>
        </div>

        <div class="events-block joined-events">
          <% let joinedEmpty = true %>
          <% for (let i = 0; i < events.length; i++) { %>
            <% events[i].participants.forEach( participant => { %>
            <% if (currentUser.name.localeCompare(participant) == 0) { %>
              <% joinedEmpty = false %>
          <div class="events-event-list">
            <img src="<%= events[i].image %>" />
            <div class="events-event-list-text">
              <div>
                <span><%= events[i].eventName %></span>
                <div class="events-event-list-option">
                  <button class="events-event-list-btn">&#8942;</button>
                  <div class="events-event-list-dropdown">
                    <a href="/">Details</a>
                    <a href="/">Edit</a>
                    <a href="/">Delete</a>
                  </div>
                </div>
              </div>
              <p><%= events[i].description %></p>
            </div>
          </div>
          <% } }) } %>
        </div>
        <!-- show this message if there are no joined events (TEMPORARY) -->
          <% if(joinedEmpty) { %>
            <div class="myevents-no-events">
              <span>You don't have any joined events yet.</span>
            </div>
        <% } %>
      </div>
    </div>
  </main>

  <%- include('../partials/sitemap'); %>
</div>
