<div class="body-myevents">
  <%- include('../partials/navigation'); %>

  <figure class="figure-myevents-bg">
    <div class="figure-myevents-overtext">
      <span>My Events</span>
    </div>
  </figure>

  <main class="main-myevents-container">
    <div class="main-myevents">
      <div class="figure-myevents-header">
        <span>My Events</span>
      </div>

      <a class="long-yellow-btn" href="/create">Create a New Event</a>

      <div class="myevents-blocks">
        <div class="myevents-header">
          <span>Hosted Events</span>
          <select
            class="myevents-sort-select"
            id="hosted-myevents-sort-select"
            name="hosted-myevents-sort-select"
          >
            <option value selected>Sort</option>
            <option value="date">Date</option>
            <option value="title">Title</option>
          </select>
        </div>

        <div class="myevents-block hosted-myevents">
          <% let hostedEmpty = true %>
          <% for (let i = 0; i < events.length; i++) { %>
            <% if (currentUser._id == (events[i].hostId)) { %>
            <% hostedEmpty = false %>
            <div class="myevents-event-list">
              <img src="<%= events[i].image %>" />
              <div class="myevents-event-list-text">
                <div>
                  <span><%= events[i].eventName %></span>
                  <div class="myevents-event-list-option">
                    <button class="myevents-event-list-btn">&#8942;</button>
                    <div class="myevents-event-list-dropdown">
                      <a href="/">Details</a>
                      <a href="/">Edit</a>
                      <a href="/deleteEvent/<%= events[i]._id %>">Delete</a>
                    </div>
                  </div>
                </div>
                <p>
                  <% if (events[i].description.length > 150) { %>
                    <%= events[i].description.slice(0,150) %>...
                  <% } else { %>
                    <%= events[i].description %>
                  <% } %>
                </p>
              </div>
            </div>
          <% }} %>
        </div>

        <!-- show this message if there are no hosted events (TEMPORARY) -->
        <% if(hostedEmpty) { %>
          <div class="myevents-no-events">
            <span>You don't have any hosted events yet.</span>
          </div>
        <% } %>



        <!-- JOINED EVENTS -->
        <div class="myevents-header">
          <span>Joined Events</span>
          <select
            class="myevents-sort-select"
            id="joined-myevents-sort-select"
            name="joined-myevents-sort-select"
          >
            <option value selected>Sort</option>
            <option value="date">Date</option>
            <option value="title">Title</option>
          </select>
        </div>

        <div class="myevents-block joined-myevents">
          <% let joinedEmpty = true %>
          <% for (let i = 0; i < events.length; i++) { %>
            <% events[i].participants.forEach( participant => { %>
            <% if (currentUser.name.localeCompare(participant) == 0) { %>
            <% joinedEmpty = false %>
            <div class="myevents-event-list">
              <img src="<%= events[i].image %>" />
              <div class="myevents-event-list-text">
                <div>
                  <span><%= events[i].eventName %></span>
                  <div class="myevents-event-list-option">
                    <button class="myevents-event-list-btn">&#8942;</button>
                    <div class="myevents-event-list-dropdown">
                      <a href="/">Details</a>
                      <a href="/">Edit</a>
                      <a href="/">Delete</a>
                    </div>
                  </div>
                </div>
                <p><%= events[i].description %></p>
              </div>
            </div>
          <% } }) } %>
        </div>

        <!-- show this message if there are no joined events (TEMPORARY) -->
         <% if(joinedEmpty) { %>
          <div class="myevents-no-events">
            <span>You don't have any joined events yet.</span>
          </div>
        <% } %>

      </div>
    </div>
  </main>

  <%- include('../partials/sitemap'); %>
</div>
